body {
  padding: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border: 20px black solid;
  height: 300px;
  width: 600px;
}

#target {
  font-size: 50px;
  letter-spacing: 5px;
}

.info {
  color: #ccc;
}